<div id="mySidenav" class="sidenav">
  <table>
    <tr><span><a href="#" (click)='manejoNav()'><i class="fa fa-reorder"></i></a></span></tr>
    <tr><span><a href="#"><i class="fa fa-home"></i>{{Home}}</a></span></tr>
    <tr><span><a href="#"><i class="fa fa-users"></i>{{consultaCliente}}</a></span></tr>
  </table>
</div>

<!-- <div id="main" class="btn-header pull-left">
  <table>
    <tr><span><a><i class="fa fa-reorder" (click)='openNav()'></i></a></span></tr>
    <tr><span><a><i class="fa fa-home" (click)='openNav()'></i></a></span></tr>
    <tr><span><a><i class="fa fa-users" (click)='openNav()'></i></a></span></tr>
  </table>
</div> -->