<div class="container">

  <div class="containerBuscador-principal form-group">

    <div class="form-group">
      <span id="ip"></span>
      <h2>¿Qué producto buscas?</h2>
    </div>
    <form [formGroup]="buscarForm">
      <div class="form-group inner-addon left-addon ">
        <em class="fa fa-search"></em>
        <input class="form-control" id="txtBuscador" name="txtBuscador" formControlName="txtBuscador" type="text"
          placeholder="Escribe el sku del producto..." />
      </div>

      <div id="btnBuscarProducto">
        <button class="btn btn-primary" id="btn_buscarProd" (click)="buscarProducto()" routerLink="/listarProductos"
          routerLinkActive="active">Buscar</button>
      </div>
    </form>
  </div>

</div>