  .containerBuscador-principal {
      align-items: center;
      text-align: center;
      align-content: center;
      float: initial;
      padding-top: 15%;
      color: black;
  }

  .containerBuscador-principal h2 {
      font-size: 24px;
      line-height: 1.2;
  }

  #formBusquedaProducto {
      align-items: center;
      text-align: center;
  }

  #txtBuscador {
      width: 50%;
      display: initial;
  }

  #btn_buscarProd {
      display: initial;
      margin-top: 20px;
      width: 187px;
      height: 37px;
      background-color: #0071b9;
  }

  .inner-addon {
      position: relative;
      display: initial;
  }

  .inner-addon .fa {
      position: absolute;
      padding: 10px;
      pointer-events: none;
      padding-right: 22px;
      color: rgb(184, 182, 182);
  }

  .left-addon .fa {
      padding: 10px;
  }

  .left-addon input {
      padding-left: 30px;
  }
