  .containerBuscador-principal {
    align-items: center;
    text-align: center;
  }

  .containerBuscador-principal h2 {
    color: black;
    font-size: 24px;
    font-family: Helvetica;
    line-height: 1.2;
  }

 #containerBusqueda {
    align-content: center;
    float: initial;
    padding-top: 15%;
 }

 .containerBuscador {
    padding-top: 15px;
    padding-bottom: 17px;
    align-content: center;
   
 }

 .containerBuscador h2{
  font-family: Helvetica;
  font-size: 24px;
 }

 #formBusquedaProducto {
    align-items: center;
    text-align: center;
 }
  
 #txtBuscador {
     width: 50%;
     display: initial;
 }

 #btn_buscarProd {
 
    display: initial;
    margin-top: 20px;

    width: 187px;
    height: 37px;
    background-color: #0071b9;

 }
/*---------------------------------------------*/
   .inner-addon {
    position: relative;
    display: initial;
 
  }
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    /*padding-top: 10px;*/
    padding-right: 22px;
    color: rgb(184, 182, 182);
  }
  .left-addon .fa {
    left: 0px;
    display: initial;
  }

  .left-addon input {
    padding-left: 30px;
  }
 