<div id="containerBusqueda" class="containerBuscador-principal form-group">
  
  <div class="form-group">
    <span id="ip"></span>
    <h2>¿Qué producto buscas?</h2>
  </div>
  <form [formGroup]="buscarForm" (ngSubmit)="buscarProducto()">
    <div id="containerBuscador" class="form-group inner-addon left-addon">
      <i class="fa fa-search"></i>
      <input class="form-control" id="txtBuscador" name="txtBuscador" formControlName="txtBuscador" type="text" placeholder="Escribe el sku del producto..."/>                        
    </div>

    <div class="form-group" id="btnBuscarProducto">
      <button class="btn btn-primary" id="btn_buscarProd">Buscar</button>
    </div>
  </form>
</div>



    

