<div class="container">

  <div id="containerBusqueda" class="containerBuscador-principal form-group">

    <div class="lbl-buscadorGeneral form-group">
      <label>¿Qué producto buscas?</label>
    </div>

    <form [formGroup]="buscadorGeneralForm">
      <div id="containerBuscador" class="containerBuscador-txt-producto inner-addon left-addon">
        <i class="fa fa-search"></i>
        <input class="form-control" id="txtBuscador" name="txtBuscador" formControlName="txtBuscadorGeneral" type="text"
          placeholder="Escribe el sku del producto..." />
      </div>
      <div class="containerBuscador-btn-producto" id="btnBuscarProducto">
        <button class="btn btn-primary" id="btn_buscarProd" (click)="recargar()" routerLink="/listarProductos"
          routerLinkActive="active">Buscar</button>
      </div>
    </form>

  </div>
</div>