<app-buscador></app-buscador>
<div class="form-group volver col-md-12">
  <button id="" class="btn btn-primary">Volver</button>
</div>
<div class="detalle row col-md-12">

  <div class="imagenesContainer form-group col-md-5">
      <div class="miniatura form-group col-md-2">
        <img src="assets/img/Sofa.jpg" class="imgMini img-thumbnail " alt="Responsive image">
        <img src="assets/img/Sofa.jpg" class="imgMini img-thumbnail " alt="Responsive image">
        <img src="assets/img/Sofa.jpg" class="imgMini img-thumbnail " alt="Responsive image">
      </div>
      <div class="imgPrincipal paddingZero form-group col-md-8">
        <img src="assets/img/Sofa.jpg" class="img img-thumbnail" alt="Responsive image">
      </div>
  </div>

  <div class="informacionContainer row form-group col-md-4">
    <div class="infoProducto col-md-12">
      <h3>Nombre{{mombre}}</h3>
      <p>Sku 444444{{sku}}</p>
      <h2>$ 1.999.999 {{precio}}</h2>
      <h4>$ 1.499.999 {{precioCmr}}</h4>
    </div>
    <div class="botones-opciones form-group row col-md-12">
      <div class="form-group opcionesProducto " >
        <button class="btn btn-primary col-md-3" id="btn-cantidadMenos" (click)="restarCantidad()">-</button>
        <input class="form-control col-md-4" type="text" id="txt-cantidad" value="{{cantidadProducto}}" />
        <button class="btn btn-primary col-md-3" id="btn-cantidadMas" (click)="sumarCantidad()">+</button>
      </div>
      <div class="form-group ">
        <button id="btn-carrito-detalle" class="btn btn-primary">Agregar al carro</button>
      </div>
    </div>
  </div>

  <div class="accordion col-md-10 ficha-tecnica" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ficha técnica y especificaciones
          </button>
        </h5>
      </div>
    
      <div id="collapseOne" class="collapse show info-ficha-tecnica row" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class=" atributo card-body col-md-5">
          <h6>Atributo</h6>
          <div class="atributo-2">
            <p>Garantía</p>
            <p>Número de Puestos</p>
            <p>Material de las patas</p>
            <p>Relleno</p>
            <p>Modelo</p>
            <p>Alto del asiento</p>
            <p>Observaciones</p>
          </div>
        </div>
        <div class="detalle card-body col-md-5">
          <h6>Detalle</h6>
          <div class="detalle-2">
            <p>Garantía</p>
            <p>Número de Puestos</p>
            <p>Material de las patas</p>
            <p>Relleno</p>
            <p>Modelo</p>
            <p>Alto del asiento</p>
            <p>Observaciones</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

