<div class="container-fluid ">

  <div class="detalle">
      <div class="thumbnail">
        <img src="assets/img/Sofa.jpg" class="img-thumbnail" alt="Responsive image">
      </div>

      <div class="caption">
          <h3>En construccion</h3>
          <h6>Sku 12345</h6>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Botón</a>
            <a href="#" class="btn btn-default" role="button">Botón</a>
          </p>
        </div>
      
  </div>

  <div class="row">
    
  </div>

</div>