<p>
    Aqui debo armar la lista de productos
</p>



<div class="container-fluid listarProducto">

    <div class="row ">
        <span id="titulo">Resultados de la búsqueda</span>
    </div>

    <br>

    <div class="row center">
        <div class="col bg-transparent col-md-3" *ngFor="let producto of datos">
            <img src="https://homecenterco.scene7.com/is/image/SodimacCO/{{producto.sku}}_1?wid=400&amp;hei=400" class="img-thumbnail" alt="Responsive image">
            <h5>{{producto.nombre}}</h5>
            <h6>Sku {{producto.sku}}</h6>
            <h4>${{producto.precio}}</h4>
            <br>
        </div>
    </div>

</div>
