.listarProducto{

    height: 45.3px;
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.listarProducto h5{

    font-size: 15px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
}

.listarProducto h6{

    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: normal;
    text-align: left;
}

.listarProducto h4{

    font-family: Helvetica;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;

}

.listarProducto img{

    width: 220px;
    height: 220px;

}

#titulo{
  
    font-size: 26px;
    letter-spacing: normal;
    text-align: left;
    color: #2e3239;

}