.header{
    background: white;
    box-shadow: 5px 2px 14px #888888
}

.header img{
    vertical-align: baseline;
}

.header a{
    color: rgb(84, 84, 196);
    border: black;
    font-weight: bold;
}